In [1]:
# Load library
import pandas as pd

<h1>Create Feature Matrix
</h1>

In [2]:
# Create features
df = pd.DataFrame({'Score': ['Low', 
                             'Low', 
                             'Medium', 
                             'Medium', 
                             'High']})

# View data frame
df

    Score
0     Low
1     Low
2  Medium
3  Medium
4    High

<h1>Create Scale Map
</h1>

In [3]:
# Create mapper
scale_mapper = {'Low':1, 
                'Medium':2,
                'High':3}

<h1>Map Scale To Features
</h1>

In [4]:
# Map feature values to scale
df['Scale'] = df['Score'].replace(scale_mapper)

# View data frame
df

    Score  Scale
0     Low      1
1     Low      1
2  Medium      2
3  Medium      2
4    High      3