In [1]:
# Load libraries
import numpy as np
import pandas as pd

<h1>Create Feature Matrix
</h1>

In [2]:
# Create feature matrix
X = np.array([[1.1, 11.1], 
              [2.2, 22.2], 
              [3.3, 33.3], 
              [4.4, 44.4], 
              [np.nan, 55]])

<h1>Delete Observations With Missing Values(numpy)
</h1>

In [3]:
# Remove observations with missing values
X[~np.isnan(X).any(axis=1)]

array([[ 1.1, 11.1],
       [ 2.2, 22.2],
       [ 3.3, 33.3],
       [ 4.4, 44.4]])

<h1>Drop Missing Values Using pandas
</h1>

In [4]:
# Load data as a data frame
df = pd.DataFrame(X, columns=['feature_1', 'feature_2'])

# Remove observations with missing values
df.dropna()

   feature_1  feature_2
0        1.1       11.1
1        2.2       22.2
2        3.3       33.3
3        4.4       44.4