In [1]:
# Load libraries
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np

<h1>Create Data
</h1>

In [2]:
# Create NumPy array
y = [('Texas', 'Florida'), 
    ('California', 'Alabama'), 
    ('Texas', 'Florida'), 
    ('Delware', 'Florida'), 
    ('Texas', 'Alabama')]

<h1>One-hot Encode Data
</h1>

In [3]:
# Create MultiLabelBinarizer object
one_hot = MultiLabelBinarizer()

# One-hot encode data
one_hot.fit_transform(y)

array([[0, 0, 0, 1, 1],
       [1, 1, 0, 0, 0],
       [0, 0, 0, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1]])

<h1>View Column Headers
</h1>

In [4]:
# View classes
one_hot.classes_

array(['Alabama', 'California', 'Delware', 'Florida', 'Texas'],
      dtype=object)

<h2>Categorical Values
</h2>

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

<h1>Create Data With One Class Label
</h1>

In [6]:
# Create NumPy array
x = np.array([['Texas'], 
              ['California'], 
              ['Texas'], 
              ['Delaware'], 
              ['Texas']])

<h1>Method 1:One-hot Encode Data
</h1>

In [7]:
# Create LabelBinzarizer object
one_hot = OneHotEncoder()

# One-hot encode data
one_hot.fit_transform(x)

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

<h1>View Column Headers
</h1>

In [8]:
# View classes
one_hot.categories_

[array(['California', 'Delaware', 'Texas'], dtype='<U10')]

<h1>Method-2 One-hot Encode Data 
</h1>

In [9]:
# Dummy feature
pd.get_dummies(x[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1